/* style.css */

/* Fonts and Colors */

body {
  background: rgb(230,230,230);
  color: #666666;
  font-size: 18px;
  font-family: GT Eesti Pro Text book;
  margin: 0px 0px;
}

h1 {
  font-family: GT Eesti Pro Display;
  color: black;
  font-size: 72px;
  font-weight: bold;
  line-height: 76px;
  letter-spacing: 5px;
}

h2 {
  font-family: GT Eesti Pro Text;
  color: #303030;
  font-weight: normal;
  font-size: 32px;
}

a {
  color: rgb(255, 255, 255);
  font-family: GT Eesti Pro Display;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

p {
  font-family: GT Eesti Pro Text;
  font-size: 25px;
  font-weight: lighter;
  color: white;
  opacity: 1;
}

/* Custom Design */
#HEADER {
    background-image: url(https://images.pexels.com/photos/4921201/pexels-photo-4921201.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) ;
    background-position: center;
    background-size: cover;
    background-color: rgb(40, 40, 40);
    height: 370px;
    margin: 0px;
    padding: 40px 40px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 2px 2px #9db19c;
    text-align: center;
    color: white;
  }

  #HEADER h1 {
    color: white;
  }

  #HEADER p {
    font-size: 30px;
    font-weight: lighter;
  }

  .CARDS {
    background: white;
      margin: 40px 0px;
      padding: 40px;
      border-radius: 20px;
      box-shadow: 0px 1px 2px #9db19c;
      text-align: center;
      height: 300px;
  }

  .CARDS p {
    color: black;
    opacity:0.8;
  }

  #i a {
    color: rgba(255, 255, 255, 0.171);
  }

  .button {
    background-color: #22cc88;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 17px;
    padding-left: 17px;
    border: 4px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    transition: 0.2s all ease-out;
    display: inline-block;
    box-shadow: 0px 46px 80px rgba(0, 0, 0, 0.36), 0px 19.2177px 33.4221px rgba(0, 0, 0, 0.249624), 0px 10.2747px 17.869px rgba(0, 0, 0, 0.200976), 0px 5.75991px 10.0172px rgba(0, 0, 0, 0.162578), 0px 3.05905px 5.32008px rgba(0, 0, 0, 0.123752), 0px 1.27294px 2.21381px rgba(0, 0, 0, 0.0756619)}

  .button:hover {
    transform: translateY(-10px);
    text-decoration: none;
    border-radius: 35px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 63px 80px rgba(0, 0, 0, 0.22), 0px 26.3199px 33.4221px rgba(0, 0, 0, 0.161947), 0px 14.0719px 17.869px rgba(0, 0, 0, 0.14036), 0px 7.88858px 10.0172px rgba(0, 0, 0, 0.123263), 0px 4.18956px 5.32008px rgba(0, 0, 0, 0.103353), 0px 1.74337px 2.21381px rgba(0, 0, 0, 0.0724502);
  }

  .masuperdiv {
    margin: auto;
    background-color: black;
    text-align: center;
    padding: 40px 0px 40px 0px ;
    width: 20%;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 0px 63px 80px rgb(255, 0, 0);
    transition: 0.2s all ease-out;
  }

  .masuperdiv:hover {
    box-shadow: 0px 63px 80px rgb(0, 0, 0);
  }


@media (max-width: 1200px) {

  #HEADER {
    background-image: url(https://images.pexels.com/photos/4921201/pexels-photo-4921201.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) ;
    background-position: center;
    background-size: cover;
    background-color: rgb(40, 40, 40);
    height: 370px;
    margin: 0px;
    padding: 40px 40px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 2px 2px #9db19c;
    text-align: center;
    color: white;
  }

  #HEADER h1 {
    color: white;
  }

  #HEADER p {
    font-size: 30px;
    font-weight: lighter;
  }

  .CARDS {
    background: white;
      margin: 40px 0px;
      padding: 40px;
      border-radius: 20px;
      box-shadow: 0px 1px 2px #9db19c;
      text-align: center;
      height: 300px;
  }

  .CARDS p {
    color: black;
    opacity:0.8;
  }

  #i a {
    color: rgba(255, 255, 255, 0.171);
  }

  .button {
    background-color: #22cc88;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 17px;
    padding-left: 17px;
    border: 4px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    transition: 0.2s all ease-out;
    display: inline-block;
    box-shadow: 0px 46px 80px rgba(0, 0, 0, 0.36), 0px 19.2177px 33.4221px rgba(0, 0, 0, 0.249624), 0px 10.2747px 17.869px rgba(0, 0, 0, 0.200976), 0px 5.75991px 10.0172px rgba(0, 0, 0, 0.162578), 0px 3.05905px 5.32008px rgba(0, 0, 0, 0.123752), 0px 1.27294px 2.21381px rgba(0, 0, 0, 0.0756619)}

  .button:hover {
    transform: translateY(-10px);
    text-decoration: none;
    border-radius: 35px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 63px 80px rgba(0, 0, 0, 0.22), 0px 26.3199px 33.4221px rgba(0, 0, 0, 0.161947), 0px 14.0719px 17.869px rgba(0, 0, 0, 0.14036), 0px 7.88858px 10.0172px rgba(0, 0, 0, 0.123263), 0px 4.18956px 5.32008px rgba(0, 0, 0, 0.103353), 0px 1.74337px 2.21381px rgba(0, 0, 0, 0.0724502);
  }

  .masuperdiv {
    margin: auto;
    background-color: black;
    text-align: center;
    padding: 40px 0px 40px 0px ;
    width: 20%;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 0px 63px 80px rgb(255, 0, 0);
    transition: 0.2s all ease-out;
  }

  .masuperdiv:hover {
    box-shadow: 0px 63px 80px rgb(0, 0, 0);
  }
}

@media (max-width: 600px) {
  #HEADER {
    background-image: url(https://images.pexels.com/photos/4921201/pexels-photo-4921201.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) ;
    background-position: center;
    background-size: cover;
    background-color: rgb(40, 40, 40);
    height: 370px;
    margin: 0px;
    padding: 40px 40px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 2px 2px #9db19c;
    text-align: center;
    color: white;
  }

  #HEADER h1 {
    color: white;
  }

  #HEADER p {
    font-size: 30px;
    font-weight: lighter;
  }

  .CARDS {
    background: white;
      margin: 40px 0px;
      padding: 40px;
      border-radius: 20px;
      box-shadow: 0px 1px 2px #9db19c;
      text-align: center;
      height: 300px;
  }

  .CARDS p {
    color: black;
    opacity:0.8;
  }

  #i a {
    color: rgba(255, 255, 255, 0.171);
  }

  .button {
    background-color: #22cc88;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 17px;
    padding-left: 17px;
    border: 4px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    transition: 0.2s all ease-out;
    display: inline-block;
    box-shadow: 0px 46px 80px rgba(0, 0, 0, 0.36), 0px 19.2177px 33.4221px rgba(0, 0, 0, 0.249624), 0px 10.2747px 17.869px rgba(0, 0, 0, 0.200976), 0px 5.75991px 10.0172px rgba(0, 0, 0, 0.162578), 0px 3.05905px 5.32008px rgba(0, 0, 0, 0.123752), 0px 1.27294px 2.21381px rgba(0, 0, 0, 0.0756619)}

  .button:hover {
    transform: translateY(-10px);
    text-decoration: none;
    border-radius: 35px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 63px 80px rgba(0, 0, 0, 0.22), 0px 26.3199px 33.4221px rgba(0, 0, 0, 0.161947), 0px 14.0719px 17.869px rgba(0, 0, 0, 0.14036), 0px 7.88858px 10.0172px rgba(0, 0, 0, 0.123263), 0px 4.18956px 5.32008px rgba(0, 0, 0, 0.103353), 0px 1.74337px 2.21381px rgba(0, 0, 0, 0.0724502);
  }

  .masuperdiv {
    margin: auto;
    background-color: black;
    text-align: center;
    padding: 40px 0px 40px 0px ;
    width: 20%;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 0px 63px 80px rgb(255, 0, 0);
    transition: 0.2s all ease-out;
  }

  .masuperdiv:hover {
    box-shadow: 0px 63px 80px rgb(0, 0, 0);
  }
}
